<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nandi's Ecommerse Site</title>
    {{!-- fonts and font awesome links --}}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0.11/dist/flickity.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Merriweather:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    {{!-- custom css file --}}
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    {{!-- Navbar --}}
       <nav class="flex items-center justify-between">
            <input type="checkbox" id="check">
            <label for="check" class="checkBtn">
                <!--font awesome -->
                <i class="fas fa-bars"></i>
            </label>

            <div class="leftSide flex items-center ">
                <!--logo-->
                <div class="branding">
                    <div class="logo"><span style="font-weight: bold;">NANDIz</span>CLOTHING!</div>
                </div>
               

                <div class="navText">
                    <a href="/" class="active">Home</a>
                    <a href="/about">About</a>
                    <a href="/products">Product</a>
                    {{!-- <a href="#">Feedback</a> --}}
                </div>
                 {{!-- Cart product icon --}}
                <div class="cart-btn" style="color: azure;">
                    <span class="nav-icon">
                        <i class="fas fa-cart-plus"></i>
                    </span>
                    <div class="cart-number">0</div>
                </div>

                <form action="/contact-us" method="GET">
                    <!-- contact button-->
                    <div class="rightSide">
                        <button class="btn btn-primary" type="submit">Contact Us</button>
                    </div>
                </form>
            </div>



        </nav> 
        {{!-- End of Navbar --}}
    {{{body}}}

    
</body>
<script src="//unpkg.com/flickity@2.0.11/dist/flickity.pkgd.min.js"></script>

</html>