
    <!-- About section -->
    <section id="about">
        <!-- Text -->
        <div class="about-text">
            <h2>About Us</h2>
            <h4><span style="font-weight: bold;">NANDIz</span>CLOTHING! Store</h4>
            <p>NandizClothing is a store that was founded in 2012 and is conceived<br/> for the purpose creating a satisfaction to all customers
                <br/> who visit our site. We strive to deliver the same experience
                 and fun as if you are in our store while you are shopping online. <br/>
                <br/>This is a fashion store meaning what we sell is
                <br/> what we have designed.Beauty is our first priority <br/>but making you look golcious is what we do Best.
                <br/> Enjoy your shopping, remember Nandi is always
                <br/>here for you.<i class="fas fa-heart " style="color: crimson;"></i> Thanks for visiting our Site.
            </p>

            <div class="social ">

                <a href="https://facebook.com "><i class="fab fa-facebook-f "></i></a>
                <a href="https://instagram.com "><i class="fab fa-instagram "></i></a>
                <a href="# "><i class="fab fa-whatsapp "></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter "></i></a>

            </div>
        </div>



        <!-- about image model -->
        <div class="about-model">
            <img src="/images/products-images/nandi02.jpg" alt="model">
        </div>
    </section>

