{{!-- sneaker products --}}
<section class="products">
    <div class="section-title">
        <h2>Hand bag Products</h2>
    </div>
    <div class="products-center">
        {{!-- sneaker 1 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/italic-SoSi2iBqpdo-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Women jean</h3>
            <h4>R900</h4>
        </article>

         {{!-- sneaker 2 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/natanni-K_nnOg6-vZ4-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Women jean</h3>
            <h4>R1000</h4>
        </article>

         {{!-- sneakers 3 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/tamara-bellis-TkwBK8nbA8I-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Relay jean</h3>
            <h4>R1400</h4>

        </article>   {{!-- sneaker 4 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/tamara-bellis-HY1fq4ZtLTE-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Levis jean for women</h3>
            <h4>R900</h4>
        </article>

        <form action="/products">
          <button class="previous-btn" type="submit">Back to</button>
        </form>

    </div>
</section>