<!-- <div class="header"> -->
<div class="bcontainer">

    <!--main-->
    <div class="row">

        <!--name/text--->
        <div class="name">

            <!--intro heading-->
            <h1>
                Get the Best <br />
                <span>
                    <font color="#3DCFD3">Products</font>
                </span>
            </h1>

            <form action="/products" method="GET">
                <div>
                    <!--details-->
                    <p class="details">
                        FROM OUR STORE
                    </p><br />

                    <button class="button-shop" type="submit">SHOP NOW</button>

                </div>
            </form>


        </div>
    </div>
    {{!-- customer enquiry form --}}
    <form action="" class="customer-enquiry">
        <fieldset>
            <legend>
                <h2>Make a Customer Enquiry</h2>
            </legend>
            <label for="name">Your name <input name="name" type="text" required></label>
            <br>
            <label for="surname">
                Phone<input name="phone" type="text" required>
            </label>
            <br>
            <label for="surname">
                Email<input name="email" type="email" required>
            </label>
            <br>
            <select name="service" id="service" required>
                <option value="">Select a service</option>
                <option value="more">More Information</option>
                <option value="returns">Return & Exchange</option>
                <option value="Nkosi">Shipping & Delivery</option>
                <option value="Hlongwane">Complain</option>
            </select>
            <br><br>
            <select name="service" id="service" required>
                <option value="">I would like to be contacted by</option>
                <option value="more">Just a phone</option>
                <option value="returns">Just an email</option>
            </select>
            <br><br>
            <div class="input">
                <span>Type your Message...</span>
                <textarea required></textarea>
                
            </div>
            <button type="submit">Submit</button>

        </fieldset>

    </form>

</div>

</div>

</div>

<!--Footer-------->
<footer id="footer-section">
    <!-- Footer content -->
    <div class="container-wrap">

        <div class="navFooter">
            <div class="footer-section about">
                <div class="footer-widget">
                    <h3 class="widget-title">About</h3> <br />
                    <p>NandizClothing is a store that is conceived for the purpose
                        <br />of creating a satisfaction to all customers who visit our site.
                    </p> <br />

                    <div class="cards ">
                        <i class="fab fa-cc-mastercard "></i>
                        <i class="fab fa-cc-paypal "></i>
                        <i class="fab fa-cc-visa "></i>
                    </div>

                    <p><span><i class="fas fa-lock "></i> </span>Secure Online Payment</p>
                </div>
            </div>

            <div class="footer-section categories">
                <div class="footer-widget ">
                    <h3 class="widget-title ">Categories</h3> <br />
                    <ul>
                        <li><a href="/products ">Clothing</a></li>
                        <li><a href="/sneakers">Foot Wear</a></li>
                        <li><a href="/hand-bags ">Hand Bag</a></li>
                        <li><a href="/jacket">Jackets</a></li>
                        <li><a href="/jeans ">Jeans</a></li>
                        <li><a href="/t-shirts ">Shirts</a></li>

                    </ul>
                </div>
            </div>

            <div class="footer-section links ">
                <div class="footer-widget ">
                    <h3 class="widget-title ">Informations</h3> <br />
                    <ul>
                        <li><a href="/about ">About us</a></li>
                        <li><a href="/contact-us ">Contact Us</a></li>
                        <li><a href="# ">Terms & Condition</a></li>
                        <li> <a href="# ">Return & Exchange</a></li>
                        <li><a href="# ">Shipping & Delivery</a></li>
                        <li><a href="# ">Pivate Policy</a></li>

                    </ul>
                </div>
            </div> <br />

            <div class="footer-section contacts ">
                <div class="footer-widget ">
                    <h3 class="widget-title ">Contact Us</h3> <br />

                    <div class="contact-address ">
                        <i class="fas fa-map-marker-alt " style="color: skyblue;"></i> Address: 34 Long St, CBD,
                        Cape
                        Town, South Africa.
                        <br /> Pin: 8001 </div>

                    <div class="contact-number ">
                        <i class="fas fa-phone "></i> Phone: +27 21 802 7600
                    </div>

                    <div class="contact-email ">
                        <i class="far fa-envelope "></i> email: nandi@clothinglabel.com
                    </div>

                </div>

                <!--social-->
                Follow Us:<br>
                <br />
                <div class="social-widget ">

                    <a href="# "><i class="fab fa-facebook-f "></i></a>
                    <a href="# "><i class="fab fa-instagram "></i></a>
                    <a href="# "><i class="fab fa-whatsapp "></i></a>
                    <a href="#"><i class="fab fa-twitter "></i></a>

                </div>
            </div>


        </div>

    </div>
    </div>
    <!-- Footer Bottom -->
    <div class="copyright ">
        <div class="container ">
            <p>Copyright ©
                <script type="text/javascript ">
                        document.write(new Date().getFullYear()); // returns the current year
                    </script> All rights reserved | Design made with <i class="fas fa-heart "></i> by SIM_DEV
                <!-- <a href="# " target="_blank "></a> -->
            </p>
        </div>
    </div>


</footer>
<!--/Footer-------->



</section>
</div>