{{!-- sneaker products --}}
<section class="products">
    <div class="section-title">
        <h2>Jean Products</h2>
    </div>
    <div class="products-center">
        {{!-- sneaker 1 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/engin-akyurt-ahs1R32GG9Y-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Women jean</h3>
            <h4>R900</h4>
        </article>

         {{!-- sneaker 2 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/haley-phelps-RgJ-NU_qWjM-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Women jean</h3>
            <h4>R1000</h4>
        </article>

         {{!-- sneakers 3 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/christopher-ivanov-h6jgQaBNIyA-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Relay jean</h3>
            <h4>R1400</h4>

        </article>   {{!-- sneaker 4 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/ali-pazani-Pdds9XsWyoM-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Levis jean for women</h3>
            <h4>R900</h4>
        </article>

        <form action="/products">
          <button class="previous-btn" type="submit">Back to</button>
        </form>

    </div>
</section>
{{!-- End of sneaker products --}}