{{!-- sneaker products --}}
<section class="products">
    <div class="section-title">
        <h2>T-shirt Products</h2>
    </div>
    <div class="products-center">
        {{!-- sneaker 1 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/faith-yarn-Wr0TpKqf26s-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Black t-shirt</h3>
            <h4>R200</h4>
        </article>

         {{!-- sneaker 2 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/erik-mclean-plp5Af5u-00-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Maron t shirt</h3>
            <h4>R250</h4>
        </article>

         {{!-- sneakers 3 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/sabrina-werneck-Xm7-U7BbZf4-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Gray man t-shirt</h3>
            <h4>R300</h4>

        </article>   {{!-- sneaker 4 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/alex-haigh-fEt6Wd4t4j0-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Original t-shirt</h3>
            <h4>R400</h4>
        </article>

        <form action="/products">
          <button class="previous-btn" type="submit">Back to</button>
        </form>


    </div>
</section>
{{!-- End of t shirt products --}}