{{!-- sneaker products --}}
<section class="products">
    <div class="section-title">
        <h2>Sneaker Products</h2>
    </div>
    <div class="products-center">
        {{!-- sneaker 1 --}}
        <article class="product">
            <div class="img-container">
                <img src="images/products-images/daniel-storek-JM-qKEd1GMI-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Adidas Sneaker</h3>
            <h4>R800</h4>
        </article>

         {{!-- sneaker 2 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/grailify-N6Rfv9z1HH0-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Nike Sneaker</h3>
            <h4>R1000</h4>
        </article>

         {{!-- sneakers 3 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/whereslugo-ad047kyPBh8-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Nike black Sneaker</h3>
            <h4>R800</h4>

        </article>   {{!-- sneaker 4 --}}
        <article class="product">
            <div class="img-container">
                <img src="/images/products-images/jade-scarlato-1zBPoVwS_Jo-unsplash.jpg" alt="product"
                    class="product-img">
                    <button class="sneaker-btn" data-id="1"><i class="fas fa-shopping-cart"></i>add to bag</button>
            </div>
            <h3>Adidas Sneaker</h3>
            <h4>R800</h4>
        </article>


    </div>
</section>
{{!-- End of sneaker products --}}